<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
     {{>navbar}}
     
      <!-- Main header -->
      <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class = "row">
                    <!-- Left side div -->
                    <div class="col-md-15 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw9myLQWJQRbRAe9VpYvMrDhpMpjH7is56JzZeA2fkfd3ye_NZeVMhqGMYEC-755U7qHE&usqp=CAU" alt="">
                        </figure>

                    {{!-- <p>My first app using Backend technologies.</p> --}}
                    <h1>{{errorMsg}}</h1>
                    <a href="/"><button>Go Back</button></a>
                   </div>
            </div>
        </div>
     </div>
 </div>

 <!-- Footer -->

  {{>footer}}

</body>
</html>